@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --grey-one: #000E17;
  --grey-two: #1B1C20;
  --white: #fafafa;
  --blue-one: #1DAECB;
  --blue-two: #6E979D;
  --orange: #F5573F;
  --violet: #370051;
  --bg: linear-gradient(var(--violet), var(--grey-two));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  font-family: 'Roboto Mono', monospace;
  color: var(--white);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grey-one);
  z-index: 1;
  opacity: 0.8;
}

.field-corner {
  position: absolute;
  top: -4px;
  left: -4px;
  transform: translate(-50%, -50%);
}

.field-corner--top-right {
  right: -4px;
  left: auto;
  transform: translate(50%, -50%) rotate(90deg);
}

.field-corner--bottom-left {
  top: auto;
  bottom: -4px;
  transform: translate(-50%, 50%) rotate(-90deg);
}

.field-corner--bottom-right {
  top: auto;
  right: -4px;
  left: auto;
  bottom: -4px;
  transform: translate(50%, 50%) rotate(180deg);
}

#div-score {
  color: var(--orange);
  font-weight: bold;
  font-size: 32px;
}

.game-title {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
  font-size: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
  padding: 20px;
  z-index: -2;
}

.game-title__title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.game-title__title h2::after {
  content: '_';
	opacity: 0;
	animation: cursor-animation 1s infinite;
}

.game-title__press-to-enter {
  font-size: 36px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.game-title__press-to-enter--active {
  opacity: 1;
  pointer-events: all;
  animation: press-to-enter-animation 1s infinite linear;
}

@keyframes press-to-enter-animation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes cursor-animation {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.game-title--active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

.instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #000E17;
  height: 90vh;
  width: 90%;
  padding: 90px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  overflow: auto;
  font-size: 16px;
  z-index: 2;
}

.instructions__info {
  max-width: 740px;
  margin: 0 auto;
}

.instructions__title {
  font-size: 30px;
}

.instructions__secondary-title {
  font-size: 20px;
}

.instructions__red {
  color: var(--orange);
}

.instructions--active {
  display: block;
}

.instructions__game {
  margin-bottom: 20px;
}

.instructions h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.instructions h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.instructions__commands-wrapper {
  max-width: 680px;
}

.instructions__instrictions-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.instructions__instriction-command {
  height: 100%;
  min-width: 50px;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.instructions__instriction-command span {
  margin-right: 20px;
}

.instructions__instriction-command span:first-of-type {
  margin-right: 20px;
  font-size: 20px;
}

.command {
  font-size: 36px !important;
}

.instructions__instriction-command img {
  width: 42px;
}

.instructions__key-section-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

.instructions__powers {
  margin-bottom: 80px;
}

.close-button {
  position: absolute;
  top: 80px;
  right: 80px;
  border: none;
  padding: 0;
}

.main-game {
  max-width: 1112px;
  margin: 0 auto;
  padding: 20px;
}

#svg_root {
  height: 100%;
  width: 100%;
}

.info-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
}

.info-wrapper__items {
  display: flex;
  align-items: center;
}

.info-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  line-height: 28px;
}

.info-item .info,
.info-item .score-number {
  font-size: 20px;
  margin-right: 6px;
}

.field-wrapper {
  position: relative;
  display: flex;
  height: 80%;
}

.separation-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid var(--blue-two);
  margin-right: 20px;
  padding: 12px;
}

.field-class {
  height: 100%;
  width: 100%;
}

.action-buttons-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 4px 10px;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.action-button {
  background-color: var(--grey-two);
  position: relative;
  object-fit: contain;
  height: 90px;
  width: 90px;
}

.action-button:hover > .button-tooltip {
  opacity: 1;
  pointer-events: all;
  left: -116%;
}

.action-button__img {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--white);
}

.action-button img {
  width: 100%;
  height: 38px;
  width: 38px;
  object-fit: contain;
  margin-bottom: 10px;
  margin-right: 4px;
}

.action-button span {
  font-size: 16px;
}

.button-tooltip {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 120px;
  font-size: 18px;
  background-color: #40aa3a;
  font-weight: 600;
  padding: 4px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.button-selected { /* CORREGIR ESTA CLASE POR FAVOR!!! */
  background-color: #fa0505 !important;
}

.hide {
  display: none !important;
}

.button-tooltip p {
  color: #1a1a1a;
}

.count-indicator {
  width: 100%;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-indicator--hide {
  display: none;
}

.count-indicator--infinite {
  height: 4px;
  background-color: #40aa3a;
  border-radius: 10px;
}

.count-indicator--infinite--hide {
  display: none;
}

.count-indicator__circle {
  border: 1px solid #40aa3a;
  height: 100%;
  width: 8px;
  margin-right: 1px;
  border-radius: 50%;
}

.count-indicator__circle--active {
  border: none;
  background-color: #40aa3a;
}

.count-indicator__circle:last-of-type {
  margin: 0;
}

.scores {
  font-size: 32px;
}

#field {
  position: relative;
}

.board-object {
  position: absolute;
  transition: all 0.1s ease-in-out;
}

.tool-buttons {
  font-size: 40px;
}

.tool-buttons--new-game {
  font-size: 24px;
  margin: 0 !important;
}

.arrow-buttons {
  font-size: 40px;
}

.separation-wrapper--guided-teleport-cursor {
  cursor: url(../assets/img/guided-teleport-button.svg), auto;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 584px;
  padding: 40px 100px;
  background-color: var(--grey-one);
  color: var(--white);
  text-align: center;
}

.card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card__text {
  font-size: 16px;
  margin-bottom: 40px;
}

.card button {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background-color: var(--orange);
  margin-bottom: 20px;
}

.card button:last-of-type {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  margin-bottom: 0;
}
